<div class="ui container grid">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui centered segment">
                <h1 class="ui header">
                    <i class="building icon"></i>
                    <div class="content">{{client_account.name}}
                    <h5>{{client_account.uid}}</h5>
                    </div>
                </h1>
                <div class="row">
                    <div class="row">
                        <a class="ui tag label teal">Called</a>
                        <a class="ui tag label teal">Profile sent</a>


                        <div class="ui right floated main menu">
                            <div class="ui basic buttons">
                                <a class="ui icon button" data-tooltip="Log a call">
                                    <i class="phone icon"></i>
                                </a>
                                <a class="ui icon button" data-tooltip="Send Profile">
                                    <i class="inbox icon"></i>
                                </a>
                                <a class="ui icon button" data-tooltip="Set a reminder">
                                    <i class="calendar alternate outline icon"></i>
                                </a>
                            </div>
                        </div>


                    </div>

                    <h4 class="ui dividing header">Legal details</h4>
                    <div class="row">
                        <a href="{{client_account.legal_account.admin_change_url}}">{{client_account.legal_account.legal_name}}</a>
                    </div>

                    <div class="row">Gstin: {{client_account.legal_account.gstin}}</div>

                </div>

                <div class="ui hidden divider"></div>

                <div class="row">
                    <div class="ui form">
                        <h4 class="ui dividing header">Notes</h4>

                        <div class="disabled field">
                            <label></label>
                            <textarea rows="2">{{notes}}</textarea>
                        </div>
                    </div>

                </div>

                <div class="ui hidden divider"></div>

                <h4 class="ui dividing header">Addresses</h4>
                <div class="ui three stackable cards">
                    {% for address in client_account.addresses %}
                    {% include 'address_component.html' with address=address %}
                    {% endfor %}
                </div>


            </div>
        </div>
        <div class="four wide column">
            {% include 'user_profile/user_component.html' with user=contact %}
        </div>
    </div>
    <div class="row">
    </div>

</div>