{% extends "base.html" %}

{% block title %}Ivory Clients{% endblock %}
{% block styles %}
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}


<div class="ui grid container">
    <div class="sixteen wide column">
    <div class="row">
    <div class="ui clearing basic segment">
        <h2 class="ui left floated header">
            <div class="content">
                <i class="address book icon"></i>

                Client Management

            </div>

        </h2>

    </div>
    </div>

    <div class="row">
    <div class="ui three stackable cards">
        <div class="fluid card">
            <div class="content">
                <div class="header">
                    Add a client account
                </div>
                <div class="description">
                    Add client accounts
                </div>
            </div>
            <div id="add_client_button" class="ui bottom attached button">
                <i class="add icon"></i>
                Add Client account
            </div>
        </div>

        <div class="fluid card">
            <div class="content">
                <div class="header">
                    Add a legal entity
                </div>
                <div class="description">
                    Add legal entities to manage your client accounts
                </div>
            </div>
            <div id="add_legal_entity_button" class="ui bottom attached button">
                <i class="add icon"></i>
                Add Legal entity
            </div>
        </div>

    </div>
        </div>

    <div class="ui basic segment"></div>
    <div id="clients_tab">
        <div class="ui pointing secondary menu">
            <a class="item" data-tab="clients_table">Client Accounts</a>
            <a class="item" data-tab="legal_table">Legal Entities</a>
        </div>
        <div class="ui tab segment" data-tab="clients_table">
            <table id="clients_table" class="ui celled table">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>Name</th>
                    <th>Legal Account</th>
                    <th>Handled by</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="ui tab segment" data-tab="legal_table">
            <table id="legal_table" class="ui celled table">
                <thead>
                <tr>
                    <th>UID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>


<!--############################# MODALS #################################-->

<div id="add_client_modal" class="ui modal">
    <div class="header">Add client</div>
    <div class="scrolling content">
        <p>Very long content goes here</p>
    </div>
</div>


<div id="add_legal_entity_modal" class="ui modal">
    <div class="header">Add legal entity</div>
    <div class="scrolling content">
        <p>Very long content goes here</p>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
<script>
$(document).ready(function() {
    function clients_table() {
        if ($.fn.dataTable.isDataTable("#clients_table")){
        return;
        }
        $('#clients_table').DataTable({
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            },
            ajax: {
                url: "{% url 'client_accounts:clients' %}",
                dataSrc: ""
            },
            columns: [{
                    "data": "uid"
                },
                {
                    "data": "name"
                },
                {
                    "data": "legal_account.legal_name"
                },
                {
                "data": "handled_by",
                "render": function ( data, type, full, meta ) {
                                return '<a>' + data.first_name + data.last_name + '</a>';}
                }
            ]
        });
        $(".dataTables_filter label").addClass("ui input");

    }

    function legal_table() {
        if ($.fn.dataTable.isDataTable("#legal_table")){
        return;
        }
        $('#legal_table').DataTable({
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search..."
            },
            ajax: {
                url: "{% url 'client_accounts:legal_entities' %}",
                dataSrc: ""
            },
            columns: [{
                    "data": "uid"
                },
                {
                    "data": "legal_name"
                },
                {
                    "data": "company_email"
                },
                {
                    "data": "company_phone"
                },
                {
                   "data": "admin_change_url",
                    "render": function ( data, type, full, meta ) {
                                return '<a href="'+data+'"><i class="edit icon"></i></a>';}
                }
            ]
        });
        $(".dataTables_filter label").addClass("ui input");

    }

    function tab_load(tab_name) {
    if (tab_name == 'clients_table'){
    clients_table()
    }
    else if (tab_name == 'legal_table'){
    legal_table()
    }


    }

      $('.menu .item').tab({'onFirstLoad':tab_load});
    $('.menu .item').tab('change tab', 'clients_table');

    $('#add_client_button').click(function(e) {
        window.open('{% url 'admin:client_accounts_clientaccount_add' %}', '_blank');
        <!--$('#add_client_modal.ui.modal').modal('show');-->
    });
        $('#add_legal_entity_button').click(function(e) {
        window.open('{% url 'admin:client_accounts_legalentity_add' %}', '_blank');
        <!--$('#add_legal_entity_modal.ui.modal').modal('show');-->
    });
});




</script>
{% endblock %}