{% extends "base.html" %}

{% block title %}Ivory Home{% endblock %}
{% block top_divider %}{% endblock %}
{% block content %}
{% load static %}

<div class="ui centered card">
    <div class="image">
      <img src="{% static 'images/image-wireframe.png' %}">
    </div>
    <div class="content">
      <div class="header">{{first_name}} {{last_name}}</div>
      <div class="meta">
        <a>{{designation}}</a>
      </div>
      <div class="description">
        {{about}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{phone}}
      </span>
      <span>
        <i class="user icon"></i>
        {{email}}
      </span>
    </div>
  </div>

{% endblock %}