{% extends "ivory/base.html" %}

{% block title %}Ivory Home{% endblock %}
{% block top_divider %}{% endblock %}
{% block content %}

<div class="ui center aligned basic segment">
    <div class="ui vertical text container">
        <h1 class="ui masthead header">
            Welcome to Ivory
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <a class="ui huge primary button" href="{% url 'client_accounts:landing' %}">Get Started <i class="right arrow icon"></i></a>
    </div>

</div>

{% endblock %}