{% extends "base.html" %}

{% block title %}Ivory Lead Management{% endblock %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jkanban.min.css' %}">
<style>
#kanban {
 overflow-x: auto;
 padding: 20px 0;
}




</style>
{% endblock %}


{% block content %}


<div class="ui grid container">
    <div class="sixteen wide column">
        <div class="ui clearing basic segment">
            <h2 class="ui left floated header">
                <div class="content">
                    <i class="handshake icon"></i>

                    Lead Management

                </div>

            </h2>
            <a class="ui right floated primary button">Add lead</a>
        </div>
        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="current_leads">Current Leads</a>
            <a class="item" data-tab="closed_leads">Closed</a>
        </div>
        <div class="ui tab active" data-tab="current_leads">
            <div id="kanban"></div>
        </div>
        <div class="ui tab" data-tab="closed_leads">
        </div>
    </div>

</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'js/jkanban.min.js' %}"></script>
<script>
$(document).ready(function() {
 var KanbanTest = new jKanban({
        element: '#kanban',
        gutter: '10px',
        dragBoards: false,
        widthBoard: '300px',
        click: function (el) {
            console.log("Trigger on all items click!");
        },
        dropEl: function (el) {
            console.log("Drop on all items drop!");
        },
        addItemButton: false,
        boards: [
            {
                "id": "_identify",
                "title": "Identify",
                "item": []
            },
            {
                "id": "_call",
                "title": "Call",
                "item": []
            },
            {
                "id": "_prospectors",
                "title": "Prospects",
                "item": []
            },
            {
                "id": "_profile_sent",
                "title": "Profile Sent",
                "item": []
            },
            {
                "id": "_supporters",
                "title": "Supporters",
                "item": []
            },
            {
                "id": "_enquiry",
                "title": "Enquiry",
                "item": []
            },
            {
                "id": "_appointment",
                "title": "Appointment",
                "item": []
            },
            {
                "id": "_business",
                "title": "Business",
                "item": []
            }
        ]
    });


$('.kanban-container').addClass('ui cards');
$('.kanban-board').addClass('card');
$('.kanban-item').addClass('ui segment');


var clicking = false;

$('.kanban-item').mousedown(function(){
    clicking = true;
});

$(document).mouseup(function(){
    clicking = false;
})
var myOffset = 0;
$('#myKanban').mousemove(function(event){
    if(clicking == false) return;
    if(event.pageX > 500){
     myOffset = myOffset + 100;
     $('#scrollContainer').animate({scrollLeft: myOffset}, 100);
 }
});

$('.menu .item').tab();

});





</script>
{% endblock %}