{% extends "base.html" %}

{% block title %}Lead details{% endblock %}
{% block top_divider %}{% endblock %}
{% block content %}

{% include 'lead_management/lead_component.html' %}

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function() {

$('#log_a_call').on('click', function() {
        $.ajax({
            url: window.location.pathname + '/action',
            type: 'POST',
            data: {"action_type": "log_call"},
            headers: {},
            success: function (result) {
                data = result;
            }
        });

        });

$('#send_profile').on('click', function() {
        $.ajax({
            url: window.location.pathname + '/action',
            type: 'POST',
            data: {"action_type": "send_profile"},
            headers: {},
            success: function (result) {
                data = result;
            }
        });

        });

$('#add_a_reminder').on('click', function() {
        $.ajax({
            url: window.location.pathname + '/action',
            type: 'POST',
            data: {"action_type": "add_reminder"},
            headers: {},
            success: function (result) {
                data = result;
            }
        });

        });

});

</script>
{% endblock %}